@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';

/***************************** 
All Components
******************************/

body {
    background-color: #eef0f1;
}

.contents-name {
    font-size: 2rem;
    margin-bottom: 2rem;
    display: inline-block;
}

article > h1 {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 2rem 0;
}

/***************************** 
    SideArea.style - tittle
******************************/


article > h1::before {
    content: '';
    background-color: rgb(215, 218, 223);
    border-radius: 2rem;
    margin-right: 0.6rem;
    padding: 0.2rem 0.8rem 0.3rem;
}

.step01::before {
    content: 'step 01';
}

.step02::before {
    content: 'step 02';
}

.step03::before {
    content: 'Step 03';

}


/***************************** 
    Search.style
******************************/

.search-input {
    outline: none;
    border: 1px solid #acacac;
    border-radius: 0.2rem;
    height: 2.4rem;
    padding: 0 0.8rem;
    width: 70%;
    margin-right: 0.8rem;
}

.search-button {
    height: 2.4rem;
    width: 25%;
    border-radius: 0.3rem;
    color: #8d1bff;
    border: 1px solid #8d1bff;

}

.search-button:hover {
    color: #fff;
    background-color: #8d1bff;
}

.list-checked {
    color: #fff;
    background-color: #8d1bff;
}




/***************************** 
tag-style
******************************/

.tag-tech {
    display: inline-flex;
    border-radius: 0.3rem;
    color: #198EE0;
    font-weight: 600;
    border: 1px solid #198EE0;
    background-color: #CEE6FA;
    padding: 0.4rem 0.6rem;
    margin: 0.2rem;

}

.tag-tech span {
    padding-right: 0.4rem;
    color: #198EE0;
    font-weight: 600;
}



/***************************** 
NavArea.Style -- nav
******************************/

.nav-style {
    background-color: #fff;
    border-bottom: 1px solid #e4e3e3;
    height: 5rem;
    font-size: 1.1rem
}

.nav-sign > a {
    padding: 1rem;
}

.nav-sign > a:hover {
    color: #8d1bff;
    text-decoration: none;
}


.nav-logo {
    height: 2rem;
}


.nec-bar::after {
    content: '';
    border-right: 1px solid #e4e3e3;
    margin-left: 2rem;
}


/***************************** 
SideArea.Style -- wellcome
******************************/

.art-wellcome {
    position: relative;
    height: 15rem;
    width: 100%;
    background-image: url(../img/wellcom-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.3rem;
    border: 1px solid rgb(56, 16, 88);
    margin-bottom: 1rem;
}

.art-wellcome > span {
    display: block;
    background-color: rgba( 0, 0, 0, 0.3);
    height: 100%;
    width: 100;
}

.wellcome-wrap {
    position: absolute;
    left:0; right:0; margin-left:auto; margin-right:auto;
    top: 0; bottom:0; margin-top:auto; margin-bottom:auto;
    top: 14%;
    color: #fff;
    text-align: center;
    width: 80%;
    height: 80%;
}

.wellcome-wrap > h1 {
    font-size: 2.4rem;
    color: #fff;
}

.wellcome-wrap > p {
    font-size: 1.2rem;
    padding: 1rem 0;
    color: #fff;
}

.wellcome-wrap > button {
    background-color: rgb(29, 10, 48);
    color: #fff;
    height: 3rem;
    width: 100%;
    border-radius: 0.3rem;
}

.wellcome-wrap > button:hover {
    background-color: #fff;
    color: rgb(29, 10, 48);
}



/***************************** 
SideArea.Style -- category
******************************/

.art-category {
    border-top: 1px solid rgb(215, 215, 216);
    margin: 1.7rem 0;
}

.category-wrap {
    width: 100%;
    border-radius: 0.3rem;
}


.category-wrap li {
    margin: -1.3px;
}

.category-wrap > ul > li > a {
    display: block;
    line-height: 3.8rem;
    padding: 0 1rem;
    background-color: #fff;
    border: 1px solid #e4e3e3 ;
    border-collapse: collapse;
}

.category-wrap > ul > li > a:hover {
    background-color: #8d1bff;
    text-decoration: none;
    color: #fff;
    font-size: 200;
}

/***************************** 
SideArea.Style -- tag search
******************************/


.art-search {
    border-top: 1px solid rgb(215, 215, 216); 
    margin: 1.7rem 0;
}

.list-area {
    width: 100%;
    height: 24rem;
    border: 1px solid #e4e3e3 ;
    border-radius: 0.3rem;
    background-color: #fff;
}

.list-search {   
    border-bottom: 1px solid #e4e3e3;
    padding: 1rem 0;
    margin: auto;
}

.search-wrap {
    margin: 0 auto;
    width: 90%;
}


.list-wrap {
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 0 1rem;
    height: 19.4rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.list-tag {
    border-radius: 0.2rem;
    line-height: 3rem;
    padding: 0 1rem;
    margin: 1rem 0;
    position: relative;
}

.list-tag:hover {
    background-color: rgb(232, 232, 232);
    color: black;
}

.list-tag-active {
    background-color: #8d1bff;
    color: #fff;
}



/***************************** 
contents -- Selected-tag
******************************/

.art-selec-tag {
    width: 100%;
    min-height: 2rem;
    display: inline-block;
    border: 1px solid #e4e3e3 ;
    padding: 1rem;
    border-radius: 0.3rem;
    background-color: #fff;
}

.contents-area {
    margin-top: 1rem;
    height: 100vh;
}

.contents-search {
    border-top: 1px solid #acacac ;
    padding: 1.2rem 0;
}



/***************************** 
contents -- content-box
******************************/

.content-wrap {
    width: 100%;
    padding: 2rem;
    border: 1px solid #e4e3e3 ;
    border-radius: 0.3rem;
    background-color: #fff;
}

.content-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.content-head .content-cartegory {
    font-size: 1.2rem;
    color: #8d1bff;
}

.content-head .content-date {
    font-size: 1.2rem;
    color: #b8b8b8;
}


.content-body {
    margin: 1.8rem 0;
}

.content-body > h1 {
    font-size: 3rem;
    line-height: 3.4rem;
    margin: 1.2rem 0;
}



.content-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-wrap {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.profile-text {
    display: flex;
    flex-direction: column;
}

.profile-name {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
}

.profile-date {
    color: #8d8d8d;
}

.chat-reaction-wrap {
    display: flex;
    justify-items: center;
    align-items: center;
}

.chat-reaction-wrap > a {
    padding: 0.5rem;
}

.reaction-wrap {
    margin-right: 0.6rem;
    
}

.reaction-wrap:hover {
    background-color: #e6e6e6;
    border-radius: 0.3rem;
    text-decoration: none;
    
}

.comments-wrap:hover {
    background-color: #e6e6e6;
    border-radius: 0.3rem;
    text-decoration: none;
    
}



.icon-comments {
    padding: 0 1rem;
    align-items: center;
    justify-items: center;
    
}


.chat-reaction-wrap > a > span {
    padding: 0 0.5rem;
}

